<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Register</title>
    <style layout:fragment="styles">
        main {
            margin-top: 25px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1 class="text-center">Register new user</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="#" th:action="@{/auth/register/submit}" method="post" th:object="${user}">
                    <div class="mb-3">
                        <label for="inputFullname" class="form-label">Fullname</label>
                        <input type="text" class="form-control" id="inputFullname" th:field="*{fullname}"
                               th:classappend="${#fields.hasErrors('fullname')} ? 'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputUsername" class="form-label">Username</label>
                        <input type="text" class="form-control" id="inputUsername" th:field="*{username}"
                               th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" th:field="*{email}"
                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword1" th:field="*{password}"
                               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword2" class="form-label">Repeat Password</label>
                        <input type="password" class="form-control" id="inputPassword2" th:field="*{verifyPassword}"
                               th:classappend="${#fields.hasErrors('verifyPassword')} ? 'is-invalid'">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('verifyPassword')}" th:errors="*{verifyPassword}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>
